<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="org.mooc.tempMV" version="1.0.0">
  <name>TemporizadorV</name>
  <description>Segundero de Cocina</description>
  <author href="http://www.mywonderland.es" email="juanpablo.hx02@gmail.com">JuanHZ</author>
  <content src="index.html"/>
  
  <preference name="permissions" value="none"/>
  <preference name="phonegap-version" value="cli-6.5.0" />
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="7"/>
  <preference name="android-installLocation" value="auto"/>
  <gap:plugin name="cordova-plugin-battery-status" source="npm" />
  <gap:plugin name="cordova-plugin-camera" source="npm" />
  <gap:plugin name="cordova-plugin-media-capture" source="npm" />
  <gap:plugin name="cordova-plugin-console" source="npm" />
  <gap:plugin name="cordova-plugin-contacts" source="npm" />
  <gap:plugin name="cordova-plugin-device" source="npm" />
  <gap:plugin name="cordova-plugin-device-motion" source="npm" />
  <gap:plugin name="cordova-plugin-device-orientation" source="npm" />
  <gap:plugin name="cordova-plugin-dialogs" source="npm" />
  <gap:plugin name="cordova-plugin-file" source="npm" />
  <gap:plugin name="cordova-plugin-file-transfer" source="npm" />
  <gap:plugin name="cordova-plugin-geolocation" source="npm" />
  <gap:plugin name="cordova-plugin-globalization" source="npm" />
  <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
  <gap:plugin name="cordova-plugin-media" source="npm" />
  <gap:plugin name="cordova-plugin-network-information" source="npm" />
  <gap:plugin name="cordova-plugin-splashscreen" source="npm" />
  <gap:plugin name="cordova-plugin-vibration" source="npm" />
  <icon src="icon.png"/>
  <icon src="www/icon-36-ldpi.png" gap:platform="android" gap:qualifier="ldpi"/>
  <icon src="www/icon-48-mdpi.png" gap:platform="android" gap:qualifier="mdpi"/>
  <icon src="www/icon-72-hdpi.png" gap:platform="android" gap:qualifier="hdpi"/>
  <icon src="www/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi"/>
  <icon src="www/icon-48.png" gap:platform="winphone"/>
  <icon src="www/icon-173-tile.png" gap:platform="winphone" gap:role="background"/>
  <access origin="*"/>
</widget>
